 {% load static %}
    <!-- Carousel Start -->
<!--    <div class="container-fluid p-0 pb-5 mb-5">-->
<!--        <div id="header-carousel" class="carousel slide carousel-fade" data-ride="carousel">-->
<!--            <ol class="carousel-indicators">-->
<!--                <li data-target="#header-carousel" data-slide-to="0" class="active"></li>-->
<!--                <li data-target="#header-carousel" data-slide-to="1"></li>-->
<!--                <li data-target="#header-carousel" data-slide-to="2"></li>-->
<!--            </ol>-->
<!--            <div class="carousel-inner">-->
<!--                <div class="carousel-item active" style="min-height: 300px;">-->
<!--                    <img class="position-relative w-100" src="{% static 'img/carousel-1.jpg' %}" style="min-height: 300px; object-fit: cover;">-->
<!--                    <div class="carousel-caption d-flex align-items-center justify-content-center">-->
<!--                        <div class="p-5" style="width: 100%; max-width: 900px;">-->
<!--                            <h5 class="text-white text-uppercase mb-md-3">Best Online Courses</h5>-->
<!--                            <h1 class="display-3 text-white mb-md-4">Best Education From Your Home</h1>-->
<!--                            <a href="" class="btn btn-primary py-md-2 px-md-4 font-weight-semi-bold mt-2">Learn More</a>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="carousel-item" style="min-height: 300px;">-->
<!--                    <img class="position-relative w-100" src="{% static 'img/carousel-2.jpg' %}" style="min-height: 300px; object-fit: cover;">-->
<!--                    <div class="carousel-caption d-flex align-items-center justify-content-center">-->
<!--                        <div class="p-5" style="width: 100%; max-width: 900px;">-->
<!--                            <h5 class="text-white text-uppercase mb-md-3">Best Online Courses</h5>-->
<!--                            <h1 class="display-3 text-white mb-md-4">Best Online Learning Platform</h1>-->
<!--                            <a href="" class="btn btn-primary py-md-2 px-md-4 font-weight-semi-bold mt-2">Learn More</a>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="carousel-item" style="min-height: 300px;">-->
<!--                    <img class="position-relative w-100" src="{% static 'img/carousel-3.jpg' %}" style="min-height: 300px; object-fit: cover;">-->
<!--                    <div class="carousel-caption d-flex align-items-center justify-content-center">-->
<!--                        <div class="p-5" style="width: 100%; max-width: 900px;">-->
<!--                            <h5 class="text-white text-uppercase mb-md-3">Best Online Courses</h5>-->
<!--                            <h1 class="display-3 text-white mb-md-4">New Way To Learn From Home</h1>-->
<!--                            <a href="" class="btn btn-primary py-md-2 px-md-4 font-weight-semi-bold mt-2">Learn More</a>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->

 <div class="d-flex flex-column flex-sm-row align-items-center justify-content-center p-5" style="background-color: #f8e1d1">
     <div  style="flex-basis: 50%">
        <img style="min-width: 300px; max-width: 60%" class="d-block m-auto" src="{% static 'img/computer institute in jalandhar banner-min.webp' %}" />
     </div>
     <div style="flex-basis: 50%" class="mt-4 text-center text-sm-left ml-3">
        <h4 class="display-4">Build Your Career with&nbsp;<span class="auto-text"></span></h4>
         <p style="font-size: 20px">Helping you to build your career</p>
         <a class="btn btn-primary py-2 px-4" href="">Book a Free Demo</a>
     </div>

 </div>
    <!-- Carousel End -->
